---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts limit: 2 %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">Posted on {{ post.date | date_to_string }}</time>
    {{ post.excerpt }}
    {% capture content_words %} 
      {{ post.content | number_of_words }} 
    {% endcapture %} 
    {% capture excerpt_words %} 
      {{ post.excerpt | number_of_words }} 
    {% endcapture %} 
    {% if excerpt_words != content_words %}
      <a class="read-more" href="{{ site.baseurl }}{{ post.url }}" role="button">Read more <i class="fa fa-arrow-circle-right read-more-arrow"></i></a>
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="infinite-spinner">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>

{% comment %}
<div class="pagination">
  {% if paginator.next_page or paginator.previous_page %}
    <a class="pagination-item" href="{{ site.baseurl }}/page{{ paginator.total_pages }}"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></a>
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
    <a class="pagination-item" href="{{ site.baseurl }}"><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></a>
  {% endif %}
</div>
{% endcomment %}
