.hl-keyword {
	color: rgb(86, 156, 214);
}

.hl-user-type {
	color: rgb(78, 201, 176);
}

.hl-prim-type {
	color: rgb(86, 156, 214);
}

.hl-constant {
	color: rgb(184, 215, 163);
}

.hl-parameter {
	color: rgb(127, 127, 127);
}

.hl-macro {
	color: rgb(189, 99, 197);
}

.hl-preprocessor {
	color: rgb(155, 155, 155);
}

.hl-string {
	color: rgb(214, 157, 133);
}

.hl-include {
	color: rgb(214, 157, 133);
}

.hl-comment {
	color: rgb(87, 176, 74);
}
