// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 0;
  margin: 0 0 2rem 0;
  width: 100%;
  height: auto;
  text-align: center;

  h1
  {
    color: $title-link-color;
    font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.2;
    padding: 1.5rem 0 0 0;
    margin: 0;
  }

  h2
  {
    color: $title-link-color;
    font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
  }
}

#menu {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;

  ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;

    li {
      font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      list-style: none;
      -webkit-flex: 1 0;
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0;

      a {
        padding: 20px 0;
        box-sizing: border-box;
        display: inline-block;
      }
    }
  }
}

#menu ul li .icon {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 120%;
}


.slicknav_btn {
  background: $body-bg;  
}

.slicknav_menu {
  display: none;
  background: $body-bg;
}

@media screen and (max-width: 850px) {
  #menu {
    display: none;
  }
  
  .slicknav_menu {
    display: block;
    padding-bottom: 0;
  }

  .slicknav_nav {
    font-family: "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
	margin-bottom: 0.8rem;
  }

  .slicknav_nav a {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    color: $link-color;
  }

  .masthead {
    h1 {
      padding: 0;
    }
  }
}
